<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nasa's picture of the day</title>
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>Nasa's picture of the day</h1>  
        <img src="{{.Hdurl}}" alt="">
        <h3>{{.Title}}</h3>
        <p>{{.Explanation}}</p>
        <p>{{.Date}}</p>
        <p>{{.Copyright}}</p>
    </main>
  </body>
</html>
